* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.video_player {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 450px;
}

.video {
  width: 800px;
  height: 450px;
}

.player_control {
  position: absolute;
  top: 455px;
  width: 800px;
  display: flex;
  align-items: center;
}

.play {
  margin-left: 40px;
  margin-right: 5px;
}

.pause {
  margin-left: 5px;
  margin-right: 40px;
}

.current_time {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.separator {
  color: white;
}

.duration {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.range {
  color: white;
}
